/* css reset, eric maier */
@font-face{
    font-family: Roboto;
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family: RobotoCondensed;
    src: url(fonts/RobotoCondensed-Light.ttf);
}

/* #2aa198 #AC2475 #2E688A   $green0 #B43C50; */

$light-grey: #a4a4a4;
$green0: #38a861;
$dark-grey: #666666;
$background-color:#ffffff ;
$red0: #B03B44;
$btn-color: #ffffff;
$dark: #0b2222;
$mild-grey: #eee;

:focus {outline:none;}
::-moz-focus-inner {border:0;}

html,body{
    background: $background-color;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    line-height: 150%;
    padding: 0;
}

h1,h2,h3,h4 {
    font-family: 'RobotoCondensed', sans-serif;
}

.container {
    margin: 6% 0 33% 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 100%;
    margin: 0;
    padding: 0;
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10em 0 10em;
    height: 95%;
}

/* NAV */
#navbar {
    display: flex;
    flex-direction: row;
    width: 40em;
    padding: 0;
    border-bottom: 1px solid $green0;
    margin: 0 10em 0 10em;
}

.nav-item {
    padding: 20px 15px 20px 15px;
    margin: 0;
    text-decoration: none;
    color: $green0;
    fontsize: 1em;
    text-align: center;
}

.home-item{
    font-weight : bold;
    color:$green0;
}

.nav-item:hover{
    color: white;
    background:$green0;
}


/* ARTICLE */
.article-view{
    height: 100%;
}
.article-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.article-date{
    color: #666666
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

/* MAIN PAGE */
#front-entry-list{
    height: 100%;
    padding: 0;
}
.front-entry-header{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.front-entry {
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 0;
}
.front-entry-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.front-entry a:link{
    text-decoration: none;
    color: #0b2222;
}

.front-entry a:hover{
    text-decoration: none;
    color: $green0;
}

a:hover{
    color: $green0;
}

.front-entry a:visited {
    color: $light-grey;
}

.front-entry a:visited:hover {
    color: $green0;
}
.front-entry-abstract:hover{
    text-decoration: none;
    color: $green0;
}


.sub-nav{
    display: flex;
    margin:0;
    padding: 0;
    justify-content: stretch;
}

/* SMALL SCREENS */

@media screen and (max-width: 800px) {
    #main-container{
	display: flex;
	flex-direction: column;
	flex: 1 100%;
    }

    #app {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	width: 100%;
    }
    #home-item{
	font-weight: normal;
    }
    #navbar {
	margin: 0;
	width: 100%;
    }


    .article-content{
	margin: 0;
    }
}

/* COMPOSE */
.input-cmp {
    background: $background-color;
    border-style: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1.2em;
    margin: 10px 0;
    width: 100%;
    &:focus{
        color: $green0;
    }
}

#compose-title-input {
    font-size: 1.5em;
    margin: 10px 0;
}

#compose-abstract-input{
    font-size: 1.2em;
    margin: 10px 0;
}

#compose-markdown-input{
    font-size: 1.2em;
    resize: none;
    min-height: 50%;
    margin: 10px 0;
    padding: 0.5em;
    border: 1px solid #eee;
}
/*Article View*/

/* Login */
#login-input {
    text-align: center;
}

/* Add button */
.circle-menu{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-menu-item {
    padding: 0.5em 1em;
    margin: 0.5em 2em;
}

.circle-btn{
    display: table;
    height: 2em;
    width: 2em;
    font-size: 1.5em;
    border-radius: 50%; 
    border: 1px solid $green0;
    color: $green0;
    background: $background-color;
    
    &:hover {
        background: $green0;
    }
    
    a {
        color: $green0;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        &:hover{
            color: $background-color;
        }
        &:link{
            text-decoration: none;
        }
    }
}

/* Portfolio and Projects*/
.projects-list{
    margin: 0;
    padding: 0;
}

.project{
    list-style: none;
    margin: 0 0 5em 0;
    padding: 0.5em;
    
    .project-header {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $light-grey;
        h2 {
            margin: 0;
            padding: 0;
        }
        div{
            display: flex;
            flex-direction: row;
            align-content: center;
            margin: 0;
            padding: 0;
            a {
                text-decoration: none;
                color: $dark;

                &:hover{
                    text-decoration: none;
                    color: $green0;
                }
            }
        }
    }
    
    .project-description{
        margin: 15px 0 15px 0;
    }
    
    .project-technologies{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        list-style: none;
        li{
            font-size: 0.75em;
            color: lighten($dark, 10%);
            padding: 0 0.5em 0 0.5em;
            margin: 0.25em 0.125em 0.25em 0.125em;
            border-radius: 0.25em;
            border: 1px solid lighten($light-grey, 10%);
        }
    }
}

/* Buttons */
 
.ok-btn {
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid $green0;
    color: $green0;
    background: $background-color;
    &:hover {
        cursor: pointer;
        cursor: hand;
        background: $green0;
        color: $background-color;
    }
}

.cancel-btn {
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid $red0;
    color: $red0;
    background: $background-color;
    &:hover {
        cursor: pointer;
        cursor: hand;
        background: $red0;
        color: $background-color;
    }
}

.circle-icon {
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    margin: 0 0.5em 0 0.5em;
    &:hover path {
        fill: $green0;
    }
}

.btn-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
   .btn-li {
        padding: 5px 25px;
    }
}

.btn-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn-li {
        width: 10em;
        padding: 5px 25px;
        margin: 15px 30px;
    }
}